svg{
    background-color: green;
    border: 3px solid black;
}

div{
    display: flex;
    justify-content: center;
    gap: 5em;
    margin-bottom: 2em;
    margin-top: 2em;
}

button{
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1.2em;
    padding: 0.5em;
}

button:hover{
    background-color: black;
    color: white;
    transition: 0.2s;
    cursor: pointer;
}